KI-Berator/config/agent_config_v1.json
{
  "name": "Контроллер взаимодействия с пользователем",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook"
      },
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const body = $json[\"body\"] || {};\nconst message = body.message || {};\nconst chatId = message.chat.id;\nconst text = message.text || null;\n\nreturn [{ json: { chatId, text, rawMessage: message } }];"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "let state = $workflow.getStaticData('userState') || {};\nconst chatId = $json.chatId;\n\nif(!state[chatId]) {\n  state[chatId] = { step: 'start' };\n}\n\nlet responseText = '';\n\nswitch(state[chatId].step) {\n  case 'start':\n    responseText = 'Привет! Какой у вас уровень немецкого?';\n    state[chatId].step = 'ask_language';\n    break;\n  case 'ask_language':\n    responseText = 'Спасибо! Продолжим...';\n    state[chatId].step = 'next_step';\n    break;\n  default:\n    responseText = 'Спасибо за ответ!';\n}\n\n$workflow.setStaticData('userState', state);\n\nreturn [{ json: { chatId, responseText } }];"
      },
      "name": "State Machine",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot<YOUR_BOT_TOKEN>/sendMessage",
        "method": "POST",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{ \"chat_id\": \"={{$json[\"chatId\"]}}\", \"text\": \"={{$json[\"responseText\"]}}\" }"
      },
      "name": "Send Message Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "State Machine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Machine": {
      "main": [
        [
          {
            "node": "Send Message Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
